.App {
  text-align: center;
}
.errorMessage {
  text-align: center;
  color: red;
}
.city-search-form {
    list-style: none;
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    background: white;
}
.reactChart {
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
}
.form-container{
  text-align: center;
}
.city-label{
  color: black;
  padding: 1rem;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}